.root__div {
  height: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card__div {
  border: 1px solid red;
  width: 100%;
  max-width: 600px;
  padding: 30px;
}

.details__div {
  flex: 1;
}

.parent__div {
  display: flex;
}

.content__div {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.header__div label {
  padding: 10px;
  display: block;
  font-size: 1.5rem;
}

.content__div label {
  display: block;
  padding: 2px 5px;
  font-size: 0.8rem;
}

.image__div {
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.footer__div {
  padding: 10px;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.brand__logo {
  width: 100px;
}

.icon__div {
  border: 1px solid black;
  height: 40px;
  width: 40px;
  margin: 0px 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
